
.bg-color{
    background-color:#F5F5F5 ;
}
.hero-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 55px;
}
.progress-area {
    background: linear-gradient(to right,#632EE3, #9F62F2);
    padding: 60px 230px;
    color: #fff;
    border-radius: 5px;
}
.progress-area img {
    width: 100px;
    height: 150px;
}
.resolved-area {
    background: linear-gradient(to right,#54CF68, #00827A);
    padding: 60px 230px;
    color: #fff;
    border-radius: 5px;
}
.progress-content,
.resolved-content {
    text-align: center;
}
.progress-content h2,
.resolved-content h2 {
    font-size: 50px;
}
.progress-area p {
    font-size: 20px;
    font-weight: 400;
}
.progress-area p {
    font-size: 24px;
    font-weight: 400;
}
.resolved-area p{
    font-size: 24px;
    font-weight: 400; 
}


/* hera area media query */
@media (max-width: 576px){
    .container {
        max-width: 1160px;
        margin: 0 auto;
    }
    .hero-area{
        display: block;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .progress-area  {
        margin-bottom: 30px;
        padding: 60px 0px;
    }
    .resolved-area{
        padding: 60px 0px;
        margin-bottom: 30px;
    }
}

