*{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.nav-area h2{
    font-size: 24px;
    color: #000;
    font-weight: bold;
}
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container ul li {
    display: inline-block;
    margin-right: 20px;

}
.menu-container ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.nav-btn {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(to right,#632EE3, #9F62F2);
    border: 0;
    padding: 7px 10px;
    border-radius: 4px;
}

/* navbar media query */
@media (max-width: 576px){
    .container {
        max-width: 1160px;
        margin: 0 auto;
    }
    .nav-area{
        display: block;
        text-align: center;
    }
    .nav-area h2 {
        margin: 10px 0;
        font-size: 40px;
    }
    .menu-container ul {
        display: block;
    }
    .menu-container ul li {
        display: block;
        margin-bottom: 15px;

    }
    .menu-container ul li a{
        font-size: 35px;
    }
    .nav-btn  {
        display: block;
        width: 100%;
        font-size: 30px;
        padding: 10px 20px;
        margin-bottom: 10px;
    }

}