

.customer-area {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
/* .customer-tickets {
    margin-right: 30px;
} */
.customer-tickets h3,
.task-area h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.task-area h3 {
    margin-right: 50px;
}
.customer-card {
    max-width: 420px;
    padding:15px;
    background-color: #fff;
}
.title-btn {
    display: flex;
    justify-content: space-between;
}
.title-btn h5{
    font-size: 18px;
    font-weight: 600;
    color: #001931;
}
.title-btn img {
    width: 15px;
    margin-right: 5px;
}
/* .title-btn  span  {
    width: 200px;
} */
.title-btn button {
    padding: 5px 10px; 
    border: 0;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
}
.card-bottom-content {
    display: flex;
    justify-content: space-between;

}
.card-discrip {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}
.id-priority,
.name-date {
    display: flex;
}
.id-no {
    margin-right: 10px;
    color: #627382;
    font-size: 14px;
}
.priority {
    color: #F83044;
    font-size: 14px;
    font-weight: 500;
}
.name {
    color: #627382;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 500;
}    
.clender {
    color: #627382;
    font-size: 14px;
}

/* .task-content {
    margin-left: 5px;
} */

.task-content {
    background-color: #fff;
    padding: 7px;
}
.task-content h3 {
    color: #001931;
    font-weight: 500;
    font-size: 16px;
}
.complete-btn {
    display: block;
    width: 100%;
    background-color: #02A53B;
    color: #fff;
    border: 0;
    padding: 7px 15px;
    border-radius: 7px;
}

.resolve-area {
    margin-top: 70px;
}
.resolve-area  h3 {
    font-size: 20px;
    color: #34485A;
    font-weight: 500;
}

/* customer area media query */
@media (max-width: 575px) {
    /* .container {
        max-width: 576px;
        margin: 0 auto;
    } */
    .customer-area {
        display: block;
        width: 100%;
        
    }
    .card-grid {
        display: block;
        width: 100%;
        /* grid-template-columns: 1fr;
        gap: 30px; */
    }
    .customer-tickets h3 {
        text-align: center;
        margin-top: 30px;
    }
    .customer-card {
        margin-bottom: 30px;
        max-width: 100%;
    }
    .all-task-content {
        text-align: center;
    }
}

